body,
html {
    height: 100%;
}

.snow {
    position: relative;
    width: 800px;
    height: 600px;
    border: 1px solid grey;
    overflow: hidden;
    margin: 20px auto;
    background: #0a477b;
}

.leaves {
    height: 40px;
    width: 40px;
    position: absolute;
    top: -20%;
    left: 80%;
    background-image: url(images/pap.png);
    background-size: 40px 40px;
    opacity: 0.5;
    animation: movement_leaves 10s linear infinite;
    animation-duration: 5s;
    animation-delay: 0s;
}

.leave {
    height: 40px;
    width: 40px;
    position: absolute;
    top: -20%;
    left: 80%;
    background-image: url(images/pap2.png);
    background-size: 40px 40px;
    opacity: 0.5;
    animation: movement_leaves 10s linear infinite;
    animation-duration: 5s;
    animation-delay: 0s;
}

.leavetr3 {
    height: 40px;
    width: 40px;
    position: absolute;
    top: -20%;
    left: 80%;
    background-image: url(images/pap3.png);
    background-size: 40px 40px;
    opacity: 0.5;
    animation: movement_leaves 10s linear infinite;
    animation-duration: 5s;
    animation-delay: 0s;
}

#n2.leaves {
    height: 30px;
    width: 30px;
    top: -90%;
    left: 10%;
    opacity: 0.5;
    transform: rotate(10deg);
    background-size: 30px 30px;
    animation-duration: 4s;
    animation-delay: 0s;
}

#n3.leaves {
    height: 40px;
    width: 40px;
    top: -70%;
    left: 80%;
    opacity: 0.6;
    transform: rotate(-60deg);
    background-size: 40px 40px;
    animation-duration: 8s;
    animation-delay: 0.5s;
}

#n4.leave {
    height: 50px;
    width: 50px;
    top: -50%;
    left: 45%;
    opacity: 0.5;
    transform: rotate(10deg);
    background-size: 50px 50px;
    animation-duration: 7s;
    animation-delay: 0.7s;
}

#n5.leave {
    height: 25px;
    width: 25px;
    top: -95%;
    left: 70%;
    opacity: 0.8;
    transform: rotate(-45deg);
    background-size: 25px 25px;
    animation-duration: 6s;
    animation-delay: 0.4s;
}

#n6.leave {
    height: 50px;
    width: 50px;
    top: -80%;
    left: 5%;
    opacity: 0.7;
    background-size: 50px 50px;
    transform: rotate(20deg);
    animation-duration: 9s;
    animation-delay: 0.1s;
}

#n7.leaves {
    height: 40px;
    width: 40px;
    top: -115%;
    left: 35%;
    opacity: 0.8;
    background-size: 40px 40px;
    transform: rotate(-20deg);
    animation-duration: 5.5s;
    animation-delay: 0.4s;
}

#n8.leavetr3 {
    height: 30px;
    width: 30px;
    top: -80%;
    left: 20%;
    opacity: 0.6;
    transform: rotate(-30deg);
    background-size: 30px 30px;
    animation-duration: 6.5s;
    animation-delay: 0.2s;
}

#n9.leavetr3 {
    height: 25px;
    width: 25px;
    top: -95%;
    left: 5%;
    opacity: 0.7;
    transform: rotate(-30deg);
    background-size: 25px 25px;
    animation-duration: 7.5s;
    animation-delay: 0.2s;
}

#n1.leavetr3 {
    height: 50px;
    width: 50px;
    top: -60%;
    left: 99%;
    opacity: 0.3;
    transform: rotate(-30deg);
    background-size: 50px 50px;
    animation-duration: 9.5s;
    animation-delay: 0.2s;
}

@keyframes movement_leaves {
    from {}
    to {
        top: 130%;
    }
}