html,
body {
    height: 100%;
    margin: 0;
}

body {
    background-color: #050728;
}

#wra{ 
    position: absolute;
    top: 0;
    width: 100%;
    height: 800px;
}

#bg,
#city1,
#city2,
#city3,
#city4,
#city5 {
    position: absolute;
    top: 0;
    width: 100%;
    height: 800px;
    background-repeat: no-repeat;
    background-size: 100% auto;
    opacity: 0;
}

#city1,
#city2,
#city3,
#city4 {
    background-position: center 200vh;
}

#bg {
    background-image: url(images/layer-bg.png);
    background-position: center bottom;
    animation: opacity 1s forwards 1s;
}

#city1 {
    background-image: url(images/layer-city1.png);
    animation: city 0.3s forwards 3s, opacity 0.5s forwards;
}

#city2 {
    background-image: url(images/layer-city2.png);
    animation: city 0.8s forwards 2s, opacity 0.5s forwards;
}

#city3 {
    background-image: url(images/layer-city3.png);
    animation: city 1.2s forwards 1.5s, opacity 0.5s forwards;
}

#city4 {
    background-image: url(images/layer-city4.png);
    animation: city 1.8s forwards 1s, opacity 0.5s forwards;
}

#city5 {
    background-image: url(images/layer-city5.png);
    background-position: center 600px;
    animation: opacity 1s forwards 1s;
}

@keyframes city {
    0% {
        background-position: center 200vh;
    }
    100% {
        background-position: center bottom;
    }
}

@keyframes opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}