    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    html,
    body {
        height: 100%;
    }
    
    body {
        font-family: "lato", sans-serif;
        color: white;
    }
    
    a {
        color: black;
        text-decoration: none;
    }
    
    h1 {
        font-size: 30px;
        font-weight: 600;
        margin: 10px 0;
        line-height: 1.2;
    }
    
    h2 {
        font-size: 25px;
        font-weight: 300;
        margin: 10px 0;
        line-height: 1.2;
    }
    
    p {
        font-size: 30px;
    }
    
    img {
        max-width: 100%;
    }
    
    ul.menu {
        list-style-type: none;
    }
    
    p {
        font-size: 20px;
        margin: 10px 0;
    }
    
    .container {
        margin: 0 auto;
        max-width: 1200px;
    }
    
    .navbar {
        background-color: rgb(128, 30, 0);
        height: 70px;
        padding: 0 30px;
    }
    
    .navbar h2 {
        font-size: 30px;
        font-weight: 300;
        margin: 10px 0;
        line-height: 1.2;
    }
    
    .navbar .flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }
    
    .navbar ul {
        display: flex;
    }
    
    .navbar a {
        color: white;
        padding: 9px;
        margin: 0 10px;
    }
    
    .navbar a:hover {
        color: #c57b67;
    }
    
    .showcase {
        height: 300px;
        background-color: rgb(128, 19, 0);
    }
    
    .video {
        position: absolute;
        left: 0;
        height: 300px;
        overflow: hidden;
    }
    
    .showcase p {
        margin-bottom: 30px;
    }
    
    .showcase-form {
        padding-left: 7px;
    }
    
    .grid {
        display: grid;
        grid-template-columns: 60% 40%;
    }
    
    .grid-item-1,
    .grid-item-2 {
        position: relative;
        top: 50px;
    }
    
    .showcase input[type="email"] {
        padding: 10px 70px 10px 0;
        font-size: 14px;
        border: none;
        border-radius: 6px;
        padding-left: 6px;
    }
    
    .btn {
        border-radius: 6px;
        padding: 12px 20px;
        background: #c58867;
        border: none;
        margin-left: 10px;
        color: white;
        font-size: 16px;
        cursor: pointer;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    }
    
    .showcase-form {
        margin: auto;
    }
    
    .little-info {
        font-size: 15px;
        font-family: "poppins", sans-serif;
    }
    
    .lower-container {
        margin: 120px auto;
        padding: 0;
        max-width: 1400px;
    }
    
    .image {
        position: relative;
        top: -60px;
    }
    
    .title {
        color: black;
        font-size: 20px;
        text-align: left;
        padding-left: 10px;
        padding-top: 10px;
    }
    
    .text {
        color: black;
        font-size: 19px;
        width: 100%;
        padding: 10px;
        margin: 0, 20px;
        text-align: justify;
    }
    
    .flex {
        display: flex;
        justify-content: space-around;
    }
    
    .stats {
        padding: 45px 50px;
        text-align: center;
    }
    
    .stat {
        margin: 0 30px;
        text-align: center;
        width: 800px;
    }
    
    .stats .fa {
        color: rgb(128, 51, 0);
    }
    
    .testimonial {
        color: black;
        padding: 40px;
    }
    
    .testimonial img {
        height: 90px;
        width: auto;
        clip-path: circle();
        object-fit: cover;
        text-align: center;
    }
    
    .testimonial h3 {
        text-align: center;
    }
    
    .grid-3 {
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 40px;
    }
    
    .card {
        padding: 10px;
        background-color: white;
        border-radius: 10px;
        box-shadow: -7px -7px 20px rgba(0, 0, 0, 0.2), 7px 7px 20px rgba(0, 0, 0, 0.2);
    }
    
    .circle {
        padding: 10px;
        display: flex;
        justify-content: center;
    }
    
    footer {
        background-color: rgb(128, 49, 0);
        padding: 20px 10px;
    }
    
    footer a {
        color: white;
        margin: 0 10px;
    }
    
    footer a:hover {
        color: #c58d67;
        border-bottom: 2px solid #c59967;
    }
    
    @media (max-width: 768px) {
        .grid,
        .grid-3 {
            grid-template-columns: auto;
        }
        .showcase {
            height: auto;
            text-align: center;
        }
        .image {
            width: 300px;
            margin-left: 80px;
        }
        .stats .flex {
            flex-direction: column;
        }
        .stats {
            text-align: center;
        }
        .stat {
            width: 100%;
            padding-right: 80px;
        }
        footer .container {
            display: flex;
            flex-direction: column;
            align-content: center;
        }
    }
    
    @media (max-width: 1023px) {
        .video {
            display: none;
        }
    }